kopia:
    endpoint: {{ kopia_endpoint }}
    bucket: {{ kopia_bucket }}
    access_key_id: {{ kopia_access_key_id }}
    secret_access_key: {{ kopia_secret_access_key }}
    repository_password: {{ kopia_repository_password }}
