---
- name: restart dnsmasq
  systemd:
    name: dnsmasq
    state: restarted

- name: restart nginx
  systemd:
    name: nginx
    state: restarted

- name: restart nfs
  systemd:
    name: nfs-kernel-server
    state: restarted
