# PXE Server Configuration
pxe_interfaces:
  - wlan0
  - eth0
pxe_server_ip: "{{ ansible_host }}"
pxe_network: 192.168.15.0

# TFTP settings
tftp_root: /srv/tftp

# HTTP server for live boot images
http_root: /var/www/html

# UEFI Support
uefi_enabled: true
grub_efi_deb_url: "http://ftp.us.debian.org/debian/pool/main/g/grub-efi-amd64-signed/grub-efi-amd64-signed_1+2.06+13+deb12u1_amd64.deb"
grub_efi_deb_checksum: "sha256:009cf7628c0b6cf1f4472df8b9bf5db603028185db63670686d5b985c4f4bc9d"
grub_efi_dest: grubnetx64.efi

# NFS Support (for low-RAM boot)
nfs_enabled: true
nfs_export_options: "ro,no_root_squash,no_subtree_check"

# Boot images to download
pxe_boot_images:
  debian:
    enabled: true
    label: "Debian 12 Netinstall"
    kernel_url: "http://deb.debian.org/debian/dists/bookworm/main/installer-amd64/current/images/netboot/debian-installer/amd64/linux"
    initrd_url: "http://deb.debian.org/debian/dists/bookworm/main/installer-amd64/current/images/netboot/debian-installer/amd64/initrd.gz"
    kernel: "debian/linux"
    initrd: "debian/initrd.gz"
    append: "nomodeset"

  ubuntu2204:
    enabled: true
    label: "Ubuntu 22.04 LTS Live Server"
    iso_url: "https://releases.ubuntu.com/22.04/ubuntu-22.04.5-live-server-amd64.iso"
    kernel: "ubuntu2204/vmlinuz"
    initrd: "ubuntu2204/initrd"
    append: "nomodeset ip=dhcp url=http://{{ pxe_server_ip }}/ubuntu2204/ubuntu-22.04.5-live-server-amd64.iso"

  ubuntu2404:
    enabled: true
    label: "Ubuntu 24.04 LTS Live Server"
    iso_url: "https://releases.ubuntu.com/24.04.1/ubuntu-24.04.1-live-server-amd64.iso"
    kernel: "ubuntu2404/vmlinuz"
    initrd: "ubuntu2404/initrd"
    append: "nomodeset ip=dhcp url=http://{{ pxe_server_ip }}/ubuntu2404/ubuntu-24.04.1-live-server-amd64.iso"

  centos:
    enabled: true
    label: "CentOS Stream 9 Netinstall"
    kernel_url: "https://mirror.stream.centos.org/9-stream/BaseOS/x86_64/os/images/pxeboot/vmlinuz"
    initrd_url: "https://mirror.stream.centos.org/9-stream/BaseOS/x86_64/os/images/pxeboot/initrd.img"
    kernel: "centos/vmlinuz"
    initrd: "centos/initrd.img"
    append: "nomodeset inst.repo=https://mirror.stream.centos.org/9-stream/BaseOS/x86_64/os/"

  systemrescue:
    enabled: true
    label: "SystemRescue 11.03"
    iso_url: "https://sourceforge.net/projects/systemrescuecd/files/sysresccd-x86/11.03/systemrescue-11.03-amd64.iso/download"
    kernel: "systemrescue/vmlinuz"
    initrd: "systemrescue/sysresccd.img"
    append: "nomodeset archisobasedir=sysresccd archiso_http_srv=http://{{ pxe_server_ip }}/systemrescue/"

  omarchy:
    enabled: true
    label: "Omarchy Linux 3.1.6"
    iso_url: "https://iso.omarchy.org/omarchy-3.1.6.iso"
    kernel: "omarchy/vmlinuz"
    initrd: "omarchy/initramfs.img"
    append: "nomodeset archisobasedir=arch archiso_http_srv=http://{{ pxe_server_ip }}/omarchy/"
    nfs_boot: true

  proxmox:
    enabled: true
    label: "Proxmox VE 9.1"
    iso_url: "https://enterprise.proxmox.com/iso/proxmox-ve_9.1-1.iso"
    kernel: "proxmox/vmlinuz"
    initrd: "proxmox/initrd.img"
    append: "nomodeset vga=791 video=vesafb:ywrap,mtrr:3 proxdebug"

# PXE menu settings
pxe_menu_timeout: 300
pxe_menu_default: local
