# {{ ansible_managed }}
# WireGuard Server Configuration

[Interface]
Address = {{ wireguard_server_ip }}/24
ListenPort = {{ wireguard_port }}
PrivateKey = {{ wg_privatekey_content.content | b64decode | trim }}

{% for peer in wireguard_peers %}
# Peer: {{ peer.name }}
[Peer]
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ peer.allowed_ips }}
{% if peer.endpoint is defined %}
Endpoint = {{ peer.endpoint }}
{% endif %}
{% if wireguard_keepalive > 0 and peer.keepalive | default(true) %}
PersistentKeepalive = {{ wireguard_keepalive }}
{% endif %}

{% endfor %}
