
# roles/nvim_setup/tasks/main.yml

# Ubuntu/Debian installation
- name: Install Neovim >= 0.10.0 from PPA (Debian/Ubuntu)
  apt_repository:
    repo: ppa:neovim-ppa/unstable
    state: present
  become: true
  when: ansible_os_family == 'Debian'

- name: Install base packages including Neovim (Debian/Ubuntu)
  apt:
    name:
      - neovim
      - curl
      - git
      - python3
      - python3-pip
      - nodejs
      - npm
      - unzip
      - ripgrep
      - fd-find
      - fzf
      - build-essential
      - libreadline-dev
      - libncurses5-dev
      - libssl-dev
      - zlib1g-dev
    state: present
    update_cache: yes
  become: true
  when: ansible_os_family == 'Debian'

# Arch Linux installation
- name: Install base packages including Neovim (Arch Linux)
  community.general.pacman:
    name:
      - neovim
      - curl
      - git
      - python
      - python-pip
      - nodejs
      - npm
      - unzip
      - ripgrep
      - fd
      - fzf
      - base-devel
      - readline
      - ncurses
      - openssl
      - zlib
    state: present
    update_cache: yes
  become: true
  when: ansible_os_family == 'Archlinux'

- name: Install lazygit from GitHub (binary release)
  become: true
  shell: |
    set -e
    LAZYGIT_VERSION=$(curl -s https://api.github.com/repos/jesseduffield/lazygit/releases/latest | grep tag_name | cut -d '"' -f 4)
    curl -Lo lazygit.tar.gz "https://github.com/jesseduffield/lazygit/releases/download/${LAZYGIT_VERSION}/lazygit_${LAZYGIT_VERSION#v}_Linux_x86_64.tar.gz"
    tar xf lazygit.tar.gz lazygit
    install -m 755 lazygit /usr/local/bin/lazygit
    rm -f lazygit lazygit.tar.gz
  args:
    creates: /usr/local/bin/lazygit

- name: Symlink fd to fd-find if needed (Ubuntu)
  file:
    src: /usr/bin/fdfind
    dest: /usr/local/bin/fd
    state: link
  when: ansible_facts['distribution'] == 'Ubuntu'
  ignore_errors: true
  become: true

# Use virtualenv instead of pipx for hererocks (avoids pipx version issues)
- name: Create virtualenv for hererocks
  become: false
  command: python3 -m venv {{ ansible_env.HOME }}/.local/share/nvim/hererocks-venv
  args:
    creates: "{{ ansible_env.HOME }}/.local/share/nvim/hererocks-venv/bin/python"

- name: Install hererocks in virtualenv
  become: false
  pip:
    name: hererocks
    virtualenv: "{{ ansible_env.HOME }}/.local/share/nvim/hererocks-venv"
    state: present

- name: Create LuaRocks environment with hererocks
  become: false
  shell: |
    {{ ansible_env.HOME }}/.local/share/nvim/hererocks-venv/bin/hererocks \
      {{ ansible_env.HOME }}/.local/share/nvim/lazy-rocks/hererocks -l 5.1 -r latest
  args:
    creates: "{{ ansible_env.HOME }}/.local/share/nvim/lazy-rocks/hererocks/bin/luarocks"

- name: Ensure hererocks Lua binary exists
  stat:
    path: "{{ ansible_env.HOME }}/.local/share/nvim/lazy-rocks/hererocks/bin/lua"
  register: lua_stat
 #
- name: Fail if Lua binary not found
  fail:
    msg: "Hererocks Lua binary not found at expected path."
  when: not lua_stat.stat.exists

- name: Ensure luarocks binary exists
  stat:
    path: "{{ ansible_env.HOME }}/.local/share/nvim/lazy-rocks/hererocks/bin/luarocks"
  register: luarocks_stat

- name: Fail if luarocks binary not found
  fail:
    msg: "Hererocks luarocks binary not found at expected path."
  when: not luarocks_stat.stat.exists

- name: Add hererocks to user PATH
  lineinfile:
    path: ~/.bashrc
    line: 'export PATH="$HOME/.local/share/nvim/lazy-rocks/hererocks/bin:$PATH"'
    create: yes
    state: present
    insertafter: EOF

- name: Check if nvim config directory exists
  stat:
    path: "~/.config/nvim"
  register: nvim_config_dir

- name: Check if nvim config is a git repo
  stat:
    path: "~/.config/nvim/.git"
  register: nvim_config_git

- name: Backup existing nvim config (if exists and not a git repo)
  shell: mv ~/.config/nvim ~/.config/nvim.bak.$(date +%Y_%m_%d_%H_%M_%S)
  when:
    - nvim_config_source == "git"
    - nvim_config_dir.stat.exists
    - not nvim_config_git.stat.exists

- name: Clone Neovim config from Git
  git:
    repo: "{{ nvim_git_repo }}"
    dest: "~/.config/nvim"
    version: "HEAD"
    force: no
  when: nvim_config_source == "git"

- name: Install Python Neovim support
  pip:
    name: pynvim
    executable: pip3

- name: Install global npm packages for Neovim
  npm:
    name: "{{ item }}"
    global: yes
  loop:
    - neovim
    - typescript
    - typescript-language-server
    - bash-language-server
  become: true

- name: Run PackerSync to install plugins
  command: nvim --headless +PackerSync +qa
  environment:
    XDG_CONFIG_HOME: "~/.config"
    XDG_DATA_HOME: "~/.local/share"
  args:
    creates: "~/.local/share/nvim/site/pack/packer"

