# Ubuntu/Debian package installation
- name: Install apt dependencies (Debian/Ubuntu)
  apt:
    name:
      - net-tools
      - git
      - python3-pip
    state: present
    update_cache: yes
  when: ansible_os_family == 'Debian'
  tags:
    - apt

- name: Install KeePassXC apt package (Debian/Ubuntu)
  apt:
    name: keepassxc
    state: present
    update_cache: yes
  when: ansible_os_family == 'Debian'

- name: Install everyday use packages (Debian/Ubuntu)
  apt:
    name:
      - tmux
      - htop
      - vim
    state: present
  when: ansible_os_family == 'Debian'

# Arch Linux package installation
- name: Install packages (Arch Linux)
  community.general.pacman:
    name:
      - net-tools
      - git
      - python-pip
      - keepassxc
      - tmux
      - htop
      - vim
    state: present
    update_cache: yes
  when: ansible_os_family == 'Archlinux'
  tags:
    - pacman

- name: Copy config files
  copy:
    src: "{{ item }}"
    dest: /home/{{ ansible_user }}/{{ item }}
    owner: "{{ ansible_user }}"
    group:  "{{ ansible_user }}"
    mode: 0644
  with_items:
    - .vimrc
    - .zshrc
  tags:
    - config

- name: Installing Oh My Zsh
  include_tasks:
    file: oh-my-zsh.yml

- name: Installing Atuin shell history
  include_tasks:
    file: atuin.yml
  when: atuin_enabled | default(true) | bool
  tags:
    - atuin
