---
# PXE Server Setup

- name: Install PXE server packages
  apt:
    name:
      - dnsmasq
      - pxelinux
      - syslinux-common
      - nginx
    state: present
    update_cache: yes

- name: Create TFTP base directories
  file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - "{{ tftp_root }}"
    - "{{ tftp_root }}/pxelinux.cfg"

- name: Create TFTP directories for each boot image
  file:
    path: "{{ tftp_root }}/{{ item.key }}"
    state: directory
    mode: '0755'
  loop: "{{ pxe_boot_images | dict2items }}"
  when: item.value.enabled | default(false)

- name: Copy PXE boot files
  copy:
    src: "{{ item.src }}"
    dest: "{{ tftp_root }}/{{ item.dest }}"
    remote_src: yes
    mode: '0644'
  loop:
    - { src: "/usr/lib/PXELINUX/lpxelinux.0", dest: "lpxelinux.0" }
    - { src: "/usr/lib/syslinux/modules/bios/ldlinux.c32", dest: "ldlinux.c32" }
    - { src: "/usr/lib/syslinux/modules/bios/libcom32.c32", dest: "libcom32.c32" }
    - { src: "/usr/lib/syslinux/modules/bios/libutil.c32", dest: "libutil.c32" }
    - { src: "/usr/lib/syslinux/modules/bios/menu.c32", dest: "menu.c32" }
    - { src: "/usr/lib/syslinux/modules/bios/vesamenu.c32", dest: "vesamenu.c32" }

- name: Configure dnsmasq for PXE
  template:
    src: dnsmasq-pxe.conf.j2
    dest: /etc/dnsmasq.d/pxe.conf
    mode: '0644'
  notify: restart dnsmasq

- name: Configure PXE boot menu
  template:
    src: pxelinux-default.j2
    dest: "{{ tftp_root }}/pxelinux.cfg/default"
    mode: '0644'

- name: Download boot images
  include_tasks: download_images.yml

- name: Enable and start dnsmasq
  systemd:
    name: dnsmasq
    enabled: yes
    state: started

- name: Enable and start nginx
  systemd:
    name: nginx
    enabled: yes
    state: started
