---
- name: playbook de teste
  hosts: all

  roles:
    - role: users
      become: true
      tags:
        - users

    - role: jellyfin
      become: true
      tags:
        - jellyfin

    - role: syncthing
      become: true
      tags:
        - syncthing

    - role: transmission
      become: true
      tags:
        - transmission

    - role: networking
      become: true
      tags:
        - networking

    - role: qemu-kvm
      become: true
      tags:
        - libvirtd

    - role: pxe_server
      become: true
      tags:
        - pxe
